@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;900&display=swap');
*{
    font-family: "Cinzel Decorative";
    align-items: center;
}
body{
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    

}
.photo{
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 20px 0;
    border-left: 55%;
    width: 100%;

}


.inner-section{
    height: 10%;
    width: 75%;
    
    padding: 40px;
    margin-left: 150px;
    border:solid;
    border-radius: 20px;
    backdrop-filter: blur(2px);
    align-items: center;
    justify-content: center;

    
  
    
    
    

    

}

.inner-section h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
    
    text-align: center;
    align-items: center;

}
.text{
    font-size: 15px;
    color: #fff;
    line-height: 40px;
    text-align: center;
    margin-bottom: 40px;

}

.primary-button {
    cursor: pointer;
    font-family:"Cinzel Decorative" ;
    font-weight: bold;
    font-size: 0.9rem;
    letter-spacing: 0.10rem;
    
    border: 1px solid red;
    padding: 0.5rem  0.5rem ;
    background: url(https://svgshare.com/i/Kyn.svg);
    background-size: 130%;
    background-position: 500%;
    background-repeat: no-repeat;
    transition: 0.3s ease-in-out;
    transition-property: background-position, border ,color ;
    position: absolute;
    top : 85%;
    left: 44%;
    color: var(--v-white);
    background-color: #fff;
    width: 200px; 
    word-spacing: 0.5rem;
    outline: 5px solid;  
    align-items: center;
    
   
    
    
}
.primary-button:hover{
    border: 1px solid red;
    color: #fff;
    background-position: 50%;
}
