*{
    font-family: "Cinzel Decorative";
}
body{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}
.container{
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 0 15px 0 15px;

}
span{
    color: #fff;
    font-size: bold;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;

}
header{
    color: #fff;
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
    font-size: bold;
    

}
.input{
    height: 45px;
    width: 87%;
    border: none;
    outline: none;
    border-radius: 30px;
    color: #fff;
    padding: 0 0 0 42px;
    background: rgba(255, 255, 255, 0.1);
}
.input-field{
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}
i{
    position: relative;
    top: -31px;
    left: 17px;
    color: #fff;
}
::-webkit-input-placeholder{
    color: #fff;

}
.submit{
    border: none;
    border-radius: 30px;
    font-size: 15px;
    height: 45px;
    outline: none;
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    transition: 3s;

}
.submit:hover{
    box-shadow: 1px 5px 7 1px rgba(225, 35, 45, 0.8);
}
.bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: small;
    color: #fff;
    margin-top: 10px;


}
.left{
    display: flex;

}
label a{
    color: #fff;
    text-decoration: none;

}
.input-field input[type="Submit"]:hover{
    color: deeppink;

}
